.main-content-list {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

tbody {
  border: 0 !important;
}

thead tr {
  background-color: #f1f1f1;
}

tbody td {
  border: none !important;
}

tbody tr:hover {
  background-color: #e8ecef !important;
}
