.card {
  border: 0 !important;
  background-color: #f1f1f1 !important;
}

.info-avatar {
  height: 100px !important;
  width: 100px !important;
  font-size: 40px !important;

  @media screen and (max-width: 767px) {
    height: 70px !important;
    width: 70px !important;
    font-size: 30px !important;
  }
}

hr {
  background-color: #c1c1c1 !important;
}

.truncate-string {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
