.main-content-bottom {
  height: 100%;
  width: 100%;
}

.main-content-top {
  height: 50px;
  box-shadow: 5px -3px 8px 0px;
}

.logo {
  height: 50px;
  pointer-events: none;
  margin: 8px 10px 5px 0;
}
