.App {
  // text-align: center;
  display: flex;

  .main-content {
    overflow: hidden;
  }

  .main-content-top {
    height: 50px;
    box-shadow: 5px -3px 8px 0px;
  }
}

.logo {
  height: 7vmin;
  pointer-events: none;
}

.search {
  color: #222;
}

.btn-label {
  padding: 0 16px;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  text-overflow: ellipsis !important;
}

.serch-icon {
  background-color: var(--header-brand-color);
  border-radius: 50%;
  color: #7c797a;
  padding: 5px;
  height: 32px;
  width: 32px;
  margin: 7px 7px 7px 0;
}

.search-input {
  background-color: #eeecec;
  color: #7c797a;
  // color: #d9d9d9;
  width: 100%;
  border: none;
}

.search-input:focus {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
